:root{
	--primary-text-color: #212121;
	--accent: #2196f3;
	--secondary-text-color:#757575;
	--white-color: #ffffff;
	
}
body{
	font-family: Roboto, sans-serif;
	border-color:var(--white-color) ;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
.list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.link{
	text-decoration: none;
	display: block;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
.container{
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}