.information {
	text-align: center;
	padding-bottom: 54px;
}
.informational__title{
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 25px;
	line-height: 1.5;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}
.information__list{
	display: flex;
	flex-wrap: wrap ;
	margin: -15px;
}
.information__item {
	flex-basis: calc((100% - 8 * 15px) / 4);
	margin: 15px;
	&:nth-child(2) .information__wrapper{
		padding-bottom: 23px;
	}
	&:nth-child(3) .information__wrapper{
		padding-bottom: 23px;
	}
	&:nth-child(4) .information__wrapper{
		padding-bottom: 46px;
	}
}
.information__link {
	transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
&:hover{
	transform:scale(1.2, 1.2);
}

}
.information__wrapper{
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.information__suptitle {
	font-weight: 900;
	font-size: 17px;
	line-height: 1.5;
	text-align: left;
	color: var(--primary-text-color);
}
.information__text {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.5;
	color: var(--secondary-text-color);
	text-align: left;
}