<footer class="page-footer">
	<div class="container page-footer__wrapper">
		<div class="form">
			<form class="form__form-fild" action="">
				<div class="form__label--wrapper">
					<label class="form__label"> Имя *
						<input class="form__input" type="text" name="name" placeholder="Имя" required>
					</label>
					<label class="form__label"> Телефон *
						<input class="form__input" type="tel" name="tel" title="+38 099 111 11 11" placeholder="+38 099 111 11 11" required>
					</label>
					<label class="form__label"> Email *
						<input class="form__input" type="email" name="email" placeholder="info@example.com" required>
					</label>
				</div>	
				<label class="form__label-texterea"> Коментарий
					<textarea class="form__texterea" name="coment" placeholder="Коментарий"></textarea>
				</label>
				<input class="form__check" type="checkbox" id="checkbox" required>
				<label class="form__label-check" for="checkbox">
					Сохранить моё имя, email и адрес сайта в этом браузере
				</label>
				<button class="form__button" type="submit">
					Отправить комментарий
				</button>
			</form>
		</div>
		<!-- social -->
		<div class="social">
			<p class="social__text">Поделись с друзьями этой ценной информацией</p>
			<ul class="social__list list">
				<li class="social__item">
					<a href="" class="social__link link social__link--goole">
						<svg class="social__icon">
							<use href="./images/sprite.svg#icon-google-plus"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link link social__link--fac">
						<svg class="social__icon">
							<use href="./images/sprite.svg#icon-facebook"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link link social__link--ins">
						<svg class="social__icon">
							<use href="./images/sprite.svg#icon-instagram"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link link social__link--tel">
						<svg class="social__icon">
							<use href="./images/sprite.svg#icon-telegram"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link link social__link--twi">
						<svg class="social__icon">
							<use href="./images/sprite.svg#icon-twitter"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>