<header class="page-header">
	<nav class="page-heade__nav">
		<ul class="page-heade__list list">
			<li class="page-heade__item"><a class="page-heade__link link" href="">Африка</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Европа</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Азия</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Росия</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Австралия и Окения</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Северная Америка</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Острова</a></li>
			<li class="page-heade__item"><a class="page-heade__link link" href="">Южная Америка</a></li>
		</ul>
	</nav>
</header>