<article class="attractions">
<div class="container attractions__frapper">
	<p class="attractions__text">
		Водопадов на нашей прекрасной планете огромное множество. Это и величественные как Ниагара, и высокие как Анхель,
		 и целые каскады наподобие водопада Ливингстона. В классическом понимании водопад это бурный поток воды, низвергающийся, например, со скал или гор.
		 Но в Японии есть совсем уж необычный водопад. Называют его Шираито (в переводе означает «Белые нити»).
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<p class="attractions__text">
		Здесь нет бурлящих и шумных потоков или гигантских водных массивов. Но это вовсе не значит, что стоит обойти этот 
		водопад стороной. Наоборот, на него нужно обратить самое пристальное внимание.Источник:
		https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<p class="attractions__text">
		Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями 
		(отсюда и название), буквально выходит из-под земли. Вернее сказать, вода сочится из небольших горных протоков. 
		Создается впечатление, что вода рождается из ниоткуда. 
		Хотя явление это вполне нормальное: водопад является порождением грунтовых вод.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<img src="./images/Shiraito2.jpg" alt="голубая вода возле водопада">
	<p class="attractions__text">
		Здесь нет бурлящих и шумных потоков или гигантских водных массивов. Но это вовсе не значит, что стоит обойти 
		этот водопад стороной. Наоборот, на него нужно обратить самое пристальное внимание.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<p class="attractions__text">
		Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями (отсюда и название),
		буквально выходит из-под земли. Вернее сказать, вода сочится из небольших горных протоков. Создается впечатление, 
		что вода рождается из ниоткуда.Хотя явление это вполне нормальное: водопад является порождением грунтовых вод.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<img src="./images/Shiraito3.jpg" alt="водопад и красочные оттенки">
	<p class="attractions__text">
		Высота водопада Шираито не превышает 3 метров, а ширина примерно 70 метров. То есть понятно, что размеры 
		его не такие уж грандиозные. НО! Эти 3 на 70 метров обладают поистине удивительной притягательностью.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<p class="attractions__text">
		Оптимальное время для посещения водопада Шираито – осень. В это время природа окрашена 
		в самые яркие цвета, на фоне которых водопад выглядит наиболее впечатляюще.
Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<img src="./images/Shiraito4.jpg" alt="водопад">
	<p class="attractions__text">
		Вода, появляясь из множества природных отверстий, сплетается в струящееся полотно или ниспадает тонкими нитями 
		по склонам. Не зря говорится, что человек может бесконечно долго смотреть на то, как течет вода. 
		Это выражение как нельзя лучше подходит водопаду Шираито.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<p class="attractions__text">
		Оптимальное время для посещения водопада Шираито – осень. 
		В это время природа окрашена в самые яркие цвета, на фоне которых водопад выглядит наиболее впечатляюще.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
	<img src="./images/Shiraito5.jpg" alt="водопад">
	<p class="attractions__text">
		Внимание! Будьте осторожны! Созерцание бесконечной природной гармонии вызывает привыкание.
		Источник: https://cattur.ru/asia/japan/vodopad-shiraito.html
	</p>
</div>
</article>