<section class="hero">
	<div class="hero__content">
		<div class="container hero__wrapper">
			<p class="hero__text">
				Достопримечательный Мир » Азия » Япония
			</p>
			<h1 class="hero__title">
				Водопад Шираито — удивительные <br> «Белые Нити». Япония.
			</h1>
			<ul class="hero__list list">
				<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
							<use href=./images/sprite.svg#icon-google-plus></use>
						</svg></a></li>
				<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
							<use href=./images/sprite.svg#icon-facebook></use>
						</svg></a></li>
				<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
							<use href=./images/sprite.svg#icon-instagram></use>
						</svg></a></li>
				<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
							<use href=./images/sprite.svg#icon-telegram></use>
						</svg></a></li>
				<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
							<use href=./images/sprite.svg#icon-twitter></use>
						</svg></a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<h2 class="cards__title">
			Водопад-Шираито (в переводе означает «Белые нити»)
		</h2>
		<ul class="cards list">
			<li class="cards__item">
				<img src="./images/Shiraito5.jpg" alt="водопад">
				<p class="cards__text">
					Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями (отсюда и название),
					буквально выходит из-под земли. Вернее сказать, вода сочится из небольших горных протоков. Создается впечатление, 
					что вода рождается из ниоткуда.Хотя явление это вполне нормальное: водопад является порождением грунтовых вод.
				</p>
			</li>
			<li class="cards__item">
				<img src="./images/Shiraito3.jpg" alt="водопад и красочные оттенки">
				<p class="cards__text">
					Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями (отсюда и название),
					буквально выходит из-под земли. Вернее сказать, вода сочится из небольших горных протоков. Создается впечатление, 
					что вода рождается из ниоткуда.Хотя явление это вполне нормальное: водопад является порождением грунтовых вод.
				</p>
			</li>
			<li class="cards__item">
				<img src="./images/Shiraito4.jpg" alt="водопад">
				<p class="cards__text">
					Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями (отсюда и название),буквально выходит
					из-под земли. Вернее сказать, вода сочится из небольших горных протоков. Создается впечатление, что вода рождается из ниоткуда. 
				   Хотя явление это вполне нормальное: водопад является порождением грунтовых вод
				</p>
			</li>
			<li class="cards__item">
				<img src="./images/Shiraito2.jpg" alt="голубая вода возле водопада">
				<p class="cards__text">
					Главная особенность водопада Шираито, это тот факт, что вода, неспешно струящаяся тонкими нитями (отсюда и название),буквально выходит
					 из-под земли. Вернее сказать, вода сочится из небольших горных протоков. Создается впечатление, что вода рождается из ниоткуда. 
					Хотя явление это вполне нормальное: водопад является порождением грунтовых вод.
					
				</p>
			</li>
		</ul>

	</div>

</section>
<!-- <section class="cards">
	<div class="container">

	</div>
</section> -->