<section class="hero">
	<div class="container hero__wrapper">
		<p class="hero__text">
			Достопримечательный Мир » Азия » Япония
		</p>
		<h1 class="hero__title">
			Водопад Шираито — удивительные <br> «Белые Нити». Япония.
		</h1>
		<ul class="hero__list list">
			<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
						<use href=./images/sprite.svg#icon-google-plus></use>
					</svg></a></li>
			<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
						<use href=./images/sprite.svg#icon-facebook></use>
					</svg></a></li>
			<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
						<use href=./images/sprite.svg#icon-instagram></use>
					</svg></a></li>
			<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
						<use href=./images/sprite.svg#icon-telegram></use>
					</svg></a></li>
			<li class="hero__item"><a class=" hero__link link" href=""><svg class="hero__icon">
						<use href=./images/sprite.svg#icon-twitter></use>
					</svg></a></li>
		</ul>
	</div>

</section>
