<section class="gallery">
	<div class="background">
		<p class="background__text">Достопримечательный Мир » Европа » Польша</p>
		<h2 class="background__titel">
			Кривой лес – огромные деревянные  рыболовные крючки. Польша
		</h2>
	</div>
	<div class="container">
		<h3 class="gallery__title">
			Гипотезы появления Кривого Леса
		</h3>
		<ul class="gallery__list list">
			<li class="gallery__item">
				<p class="gallery__text">
					По одной из них, в 30-е годы прошлого века здесь жили представители Германии. Они то и проводили секретные эксперименты с растениями. Но, то ли опыты 
					были ну очень уж секретными,то ли их не было вовсе, никаких доказательств их проведения найдено не было, равно как неизвестны цели этих опытов и их результаты
				</p>
				<img src="./images/forest/Krivoy-Les1.jpg" alt="">
			</li>
			<li class="gallery__item">
				<p class="gallery__text">
					По другой версии, таинственные селекционеры пытались вырастить деревья экзотической формы, чтобы использовать их впоследствии в кораблестроении или производстве мебели. 
					Но эта версия не совсем состоятельна, так как в прошлом веке на строительство кораблей в основном шли металлические конструкции.
					А для изготовления мебели, по словам специалистов, эта древесина не подходит
				</p>
				<img src="./images/forest/Krivoy-Les2.jpg" alt="">
			</li>
			<li class="gallery__item">
				<p class="gallery__text">
					Есть еще сказочная версия, в которой говорится, что в этих местах жила ведьма. Она заколдовала деревья для защиты своего дома. И когда сюда заявились лесорубы, деревья стали 
					извиваться и хлестать их ветвями. Незадачливым дровосекам пришлось покинуть таинственный лес. 
					А стволы деревьев так и остались изогнуты как предупреждение незваным гостям
				</p>
				<img src="./images/forest/Krivoy-Les3.jpg" alt="">
			</li>
			<li class="gallery__item">
				<p class="gallery__text">
					И, наконец, ученые выдвигают предположение, что лес растет в геопатогенном месте, обладающем неизвестными человеку свойствами, скорее всего отрицательными. 
					Кстати, в пользу этой версии частично можно отнести то, что в лесу преобладает нехарактерная тишина. 
					То есть не слышно ни насекомых, ни птиц. Но есть поверье, что если пролезть через кривое дерево, то можно излечиться от болезней
				</p>
				<img src="./images/forest/Krivoy-Les4.jpg" alt=""  >
			</li>
		</ul>
	</div>
</section>